.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-popup);
}

.template {
  width: auto;
  background-color: var(--color-slate-700);
  border-radius: var(--border-rounded);
  max-width: 650px;
  max-height: 100%;
  overflow: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.template::-webkit-scrollbar {
  display: none;
}

.header {
  background-color: var(--color-slate-400);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: var(--border-rounded-lg);
  border-top-left-radius: var(--border-rounded-lg);
}

.title {
  padding: 1rem;
  padding-left: 0;
}

@media (max-width: 768px) {
  .template {
    max-width: 100%;
    border-radius: 0;
  }
  .header {
    border-radius: 0;
  }
}